<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Welcome</title>
</head>
<body>
  <h1>Dette er hovedsiden</h1>
  {% include 'user.html' %} <!-- Insert this where the log in, log out dialogs should appear -->
</body>
</html>
