* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #64666e;
  color: #555;
  font-size: 1.1em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.nav-link {
  display: block;
  margin-bottom: 0.5em;
}

h3 {
  margin-bottom: 0.5em;
}

p {
  line-height: 1.5;
  margin-bottom: 1em;
}

.container {
  margin: 40px auto;
  max-width: 780px;
  display: grid;
  grid-template-columns: 120px auto 120px;
  grid-template-rows: 80px auto auto auto 50px;
}

header {
  background-color: lemonchiffon;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  background-color: mistyrose;
  padding: 0.5em;
}

article {
  padding: 0.5em;
  background: #fff;
}

aside {
  background-color: lavender;
  padding: 0.5em;
}

footer {
  background-color: silver;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  grid-column: 1 / 4;
  grid-row: 5;
}

@media screen and (max-width: 479px) {
  header {
    grid-column: 1 / 4;
  }

  article {
    grid-column: 1 / 4;
    grid-row: 2;
  }

  aside {
    grid-column: 1 / 4;
    grid-row: 3;
  }

  nav {
    grid-column: 1 / 4;
    grid-row: 4;
  }
}

@media screen and (min-width: 480px) and (max-width: 799px) {
  header {
    grid-column: 1 / 4;
  }

  nav {
    grid-column: 1;
    grid-row: 2;
  }

  aside {
    grid-column: 1;
    grid-row: 3 / 5;
  }

  article {
    grid-column: 2 / 4;
    grid-row: 2 / 5;
  }
}

@media screen and (min-width: 800px) {
  header {
    grid-column: 1 / 4;
  }

  nav {
    grid-row: 2 / 5;
    grid-column: 1;
  }

  aside {
    grid-row: 2 / 5;
    grid-column: 3;
  }

  article {
    grid-row: 2 / 5;
    grid-column: 2;
  }
}
