<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bildedatabasen</title>
  <style>
    body{
      margin-left: 3em;
    }
    .images {
      display: flex;
      flex-wrap: wrap;
    }

    .image a {
      text-decoration: none;
    }
  </style>
</head>
<body>
  <h1>Velkommen til bildedatabasen</h1>
  <p><a href="upload.php">Last opp et bilde</a></p>
  <h2>Bilder i databasen</h2>
  <div class="images">
    {% for file in files %}
      <div class="image">
        <a href="getFile.php?id={{file.id}}" download="{{file.name}}">
          <img src="getFile.php?thumbnail=true&id={{file.id}}"><br>
          <span>{{file.name}}</span>
        </a>
      </div>
    {% endfor %}
  </div>
</body>
</html>
